<nav>
  <img src="./images/logo-nav.svg" alt="">
  <div class="nav-menu">
    <a href="/" class="nav-button">
      <img src="./images/ico-summary.svg" alt="">
      <span>Summary</span>
    </a>
    <a href="/" class="nav-button">
      <img src="./images/ico-summary.svg" alt="">
      <span>Add Task</span>
    </a>
    <a href="/" class="nav-button">
      <img src="./images/ico-summary.svg" alt="">
      <span>Board</span>
    </a>
    <a href="/" class="nav-button">
      <img src="./images/ico-summary.svg" alt="">
      <span>Contacts</span>
    </a>

  </div>
  <div class="nav-imprint">
    <a href="">Privacy Policy</a>
    <a href="">Legal notice</a>
  </div>
</nav>