body {
    font-family: Inter, sans-serif;
    background-color: #F6F7F8;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-right {
    display: flex;
    align-items: flex-start;
    gap: 35px;
    padding-top: 60px;
    margin-right: 100px;
}

.header-right div {
    display: flex;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 400;
}

.header-right button {
    display: flex;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #2A3647;
    color: #FFF;
    font-size: 20px;
    border: none;
}

.header-right button:hover {
    cursor: pointer;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#joinLogo {
    width: 100.03px;
    height: 121.97px;
    margin-top: 80px;
    margin-left: 77px;
}

#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 652px;
    height: auto;
    padding: 48px 115px;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    background-color: #FFF;
    border: solid 30px;
    box-sizing: border-box;
    border-color:#FFF;
    margin-top: 60px;
}

#loginContainer h1 {
    font-size: 61px;
    margin: 0;
}

#loginUnderline {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#emailInputLogin {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
}

#passwordInputLogin {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
}

.loginInputs {
    display: flex;
    border: 1px solid #D1D1D1;
    width: 422px;
    padding: 12px 21px;
    border-radius: 10px;
}

.checkBoxContainerLogin {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 8px;
    padding-left: 30px;
    align-self: flex-start;
}

.checkBoxContainerLogin div {
    font-size: 16px;
    font-weight: 400;
    color: #6c6c6c;
}

#checkboxInput {
    height: 24px;
    width: 24px;
}

#checkboxInput:hover {
    cursor: pointer;
}

#loginButtons {
    display: flex;
    gap: 35px;
}

#loginButton {
    display: flex;
    height: 48px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    border: none;
    color: white;
}

#guestLoginButton {
    display: flex;
    height: 48px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    background-color: #FFF;
    font-size: 21px;
    font-weight: 700;
    color: #2A3647;
}

#loginButton:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

#guestLoginButton:hover{
    cursor: pointer;
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

#signUpButton:hover {
    background-color: #29ABE2;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 120px;
}

#footer a {
    text-decoration: none;
    color: #A8A8A8;
    font-size: 16px;
}

#footer a:hover {
    color: #29ABE2;
}


#signUpContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 630px;
    width: 598px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);

}

#signUpContainer h1 {
    font-size: 61px;
    margin: 0;
    padding-bottom: 15px;
}


#signUpGoBack {
    align-self: flex-start;
    margin-left: 30px;
    margin-top: 30px;
}

#signUpGoBack:hover {
    cursor: pointer;
    background-color: #D1D1D1;
    border-radius: 30px;
}

.signUpInputs {
    display: flex;
    border: 1px solid #D1D1D1;
    width: 422px;
    padding: 12px 21px;
    border-radius: 10px;
}

#signUpFormButton {
    display: flex;
    height: 48px;
    width: 126px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    border: none;
    color: white;
    margin-top: 8px;
}

#signUpFormButton:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

#signUpForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
}

.checkBoxContainerSignup {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 8px;
}

.checkBoxContainerSignup div {
    font-size: 16px;
    font-weight: 400;
    color: #6c6c6c;
}

#emailInputSignup {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
}

#passwordInputSignup {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
}

#nameInputSignup {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
}

#confirmPasswordInputSignup {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
}

#checkboxLink {
    color: #29ABE2;
    text-decoration: none;
}
