body {
    margin: 0;
    font-family: Inter, sans-serif;
}

#header {
    display: flex;
    max-width: 1920px;
    padding: 20px 40px 20px 348px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

#header div {
    font-size: 20px;
}

#headerRight {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

#helpLink img {
    height: 32px;
    width: 32px;
}

#helpLink img:hover {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

#userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    color: #29ABE2;
}

#userProfile:hover {
    background-color: rgb(217, 217, 217);
    cursor: pointer;
}


#contentContainer {
    background-color: #F6F7F8;
    height: 100vh;
    width: 100%;
    margin-top: -102px;
    padding-left: 250px;
}

#contentContainer div {
    padding-top: 200px;
}

#sidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 232px;
    height: 100vh;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 999;
}

.sidebar-link-container {
    padding-top: 100px;
}

#joinLogoSidebar {
    padding-top: 64px;
    height: 102px;
    width: 122px;
}


.sidebar-link {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 63px;
}

.sidebar-link:hover {
    background-color: #1d3558;
}

.sidebar-link a {
    text-decoration: none;
    color: #CDCDCD;
}

.sidebar-link img {
    height: 30px;
    width: 30px;
}

.summary-link {
    background-color: #091931;
}

.summary-link a {
    color: white;
}

.summary-link:hover {
    background-color: #091931;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 440px;
    gap: 8px;
}

.sidebar-footer a:hover {
    color: #29ABE2;
}

.sidebar-footer a {
    color: #A8A8A8;
    text-decoration: none;
}










