<footer class="footer">
  <a href="/menu/summary.html" class="nav-button">
    <img src="./images/ico-summary.svg" alt="">
    <div>Summary</div>
  </a>
  <a href="/menu/add_task.html" class="nav-button">
    <img src="./images/ico-summary.svg" alt="">
    <div>Add Task</div>
  </a>
  <a href="/menu/board.html" class="nav-button">
    <img src="./images/ico-summary.svg" alt="">
    <div>Board</div>
  </a>
  <a href="/menu/contacts.html" class="nav-button">
    <img src="./images/ico-summary.svg" alt="">
    <div>Contacts</div>
  </a>
</footer>