<header class="">
    <img src="../img/join-logo.svg" id="headerIcon"></img>
    <div id="headerText">Kanban Project Management Tool</div>
    <div id="headerRight">
        <div id="helpLink" class=""><a href="../pages/help.html"><img src="../img/help.svg"></a></div>
        <div id="userProfile" onclick="toggleDropdown()"></div>
        <div id="dropdownContent">
            <a href="../pages/legalnotice.html">Legal notice</a>
            <a href="../pages/privacypolicy.html">Privacy Policy</a>
            <a href="../index.html" onclick="logout()">Logout</a>
        </div>
    </div>
</header>