<header class="">
    <img src="../img/join-logo.svg" id="headerIcon"></img>
    <div id="headerText">Kanban Project Management Tool</div>
    <div id="headerRight">
        <div id="helpLink" class=""><img src="../img/help.svg"></div>
        <div id="userProfile" onclick="toggleDropdown()"></div>
        <div id="dropdownContent">
            <a href="#">Legal notice</a>
            <a href="#">Privacy Policy</a>
            <a href="../index.html" onclick="logout()">Logout</a>
        </div>
    </div>
</header>