<nav class="sidebar">
  <img src="../img/join-logo-alternative.svg" id="sidebarJoinLogo">
  <div id="nav-menu" class="nav-menu">
    <a href="../pages/summary.html" class="nav-button">
      <object type="image/svg+xml" data="../img/summary.svg">
      </object>
      <span>Summary</span>
    </a>
    <a href="../pages/addtask.html" class="nav-button">

      <span>Add Task</span>
    </a>
    <a href="../pages/board.html" class="nav-button">

      <span>Board</span>
    </a>
    <a href="../pages/contacts.html" class="nav-button">

      <span>Contacts</span>
    </a>
  </div>
  <div id="nav-imprint" class="nav-imprint border">
    <a id="link-privacy" href="../pages/privacypolicy.html" class="nav-button-legal">Privacy Policy</a>
    <a id="link-legal" href="../pages/legalnotice.html" class="nav-button-legal">Legal notice</a>
  </div>
</nav>