<aside>
    <img src="/img/join-logo-alternative.svg" id="joinLogoSidebar">
    <div class="sidebar-link-container">
        <div class="sidebar-link summary-link">
            <img src="/img/summary.svg">
            <a href="summary.html">Summary</a>
        </div>
        <div class="sidebar-link add-task-link">
            <img src="/img/add-task.svg">
            <a href="addtask.html">Add Task</a>
        </div>
        <div class="sidebar-link board-link">
            <img src="/img/board.svg">
            <a href="board.html">Board</a>
        </div>
        <div class="sidebar-link contacts-link">
            <img src="/img/contacts.svg">
            <a href="contacts.html">Contacts</a>
        </div>
    </div>
    <div class="sidebar-footer">
        <div onclick="">Privacy Policy</div>
        <div onclick="">Legal notice</div>
    </div>
</aside>