<nav class="sidebar">
  <img src="../img/join-logo-alternative.svg" id="sidebarJoinLogo">
  <div id="nav-menu" class="nav-menu">
    <a href="../pages/summary.html" class="nav-button">
      <img src="../img/summary.svg" alt="">
      <span>Summary</span>
    </a>
    <a href="../pages/addtask.html" class="nav-button">
      <img src="../img/add-task.svg" alt="">
      <span>Add Task</span>
    </a>
    <a href="../pages/board.html" class="nav-button">
      <img src="../img/board.svg" alt="">
      <span>Board</span>
    </a>
    <a href="../pages/contacts.html" class="nav-button">
      <img src="../img/contacts.svg" alt="">
      <span>Contacts</span>
    </a>
  </div>
  <div id="nav-imprint" class="nav-imprint">
    <a id="link-privacy" href="../pages/privacypolicy.html" class="nav-button-legal">Privacy Policy</a>
    <a id="link-legal" href="../pages/legalnotice.html" class="nav-button-legal">Legal notice</a>
  </div>
</nav>