:root {
  --blue-dark: #2A3647;
  --blue-light: #29ABE2;
  --white: #FFFFFF;
  --black: #000000;
  --red: #FF3D00;
  --grey: #A8A8A8;
  --grey-light: #D1D1D1;
  --grey-bg: #F6F7F8;
  --link-color: #CDCDCD;
  --icon: #A8A8A8;
  --background: #F6F8F8
}

.border {
  border: 2px solid green;
}