@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter.woff2') format('woff2');
}

:root {
  --blue-dark: #2A3647;
  --blue-light: #29ABE2;
  --white: #FFFFFF;
  --black: #000000;
  --red: #FF3D00;
  --grey: #A8A8A8;
  --grey-light: #D1D1D1;
  --grey-bg: #F6F7F8;
  --link-color: #CDCDCD;
  --icon: #A8A8A8;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Inter';
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.border {
  border: 2px solid green;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 20px 40px 20px 348px;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  z-index: 1;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  width: 232px;
  padding: 64px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--blue-dark);
  z-index: 2;
}

nav img {
  width: 100.034px;
  height: 121.966px;
  flex-shrink: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.nav-button {
  display: flex;
  width: 232px;
  height: 46px;
  padding: 8px 56px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  color: var(--link-color);
  text-decoration: none;
  border-radius: 8px;
  font-weight: 400;
  line-height: 19.2px;
}

.nav-button img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.nav-imprint {
  display: flex;
  padding: 243px 0px 0px 52px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.nav-imprint a {
  color: var(--icon);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

main {
  margin: 96px 0 0 232px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 32px 28px;
  background: var(--white);
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
}

.contact-button-wrapper {
  display: flex;
  justify-content: center;
  /* cursor: pointer; */
}

.contact-button {
  display: flex;
  width: 352px;
  padding: 12px 0;
  justify-content: center;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid #2A3647;
  background: #2A3647;
  color: var(--white);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.contacts {
  /* display: flex; */
  /* flex-direction: column; */
  /* padding: 0 24px; */
}


.contactsFirstLetter {
  padding: 17px 36px;
  font-size: 20px;
}

.contactsFirstLetterHeadline {
  margin: 8px 0;
  border: 0;
  border-top: 1px solid #D1D1D1;
}

.contactNameWrapper {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  gap: 35px;

}

.contactName-Initial {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  height: 42px;
  border-radius: 45px;
  color: var(--white);
  font-size: 12px;
  background-color: #FF3D00;

}

.contactName {}

.contactEmail {
  color: var(--blue-light);
}





/*overlay add contact*/
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 25%;
  right: -100%;
  font-size: 50px;
  color: white;
  /* transform: translate(-50%, -50%); */
  -ms-transform: translate(-50%, -50%);
  animation: forwards 1;
  animation-name: moving-to-target;
  animation-duration: 0.5s;
  animation-delay: 0.0s;
}

@keyframes moving-to-target {
  to {
    right: 15%;
  }
}


.contact-right {
  position: relative;
}


#overlayAddContact {
  display: flex;
  align-items: center;
  width: 1212px;
  height: 592px;
  border-radius: 38px;
  background-color: var(--white);
  transition: right .3s ease-in-out;
  -webkit-transition: right .3s ease-in-out;
  z-index: 10;
}

.overlay-add-contact-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 66px 48px;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  background-color: var(--blue-dark);
  border-radius: 38px;
}

.overlay-add-contact-left span:first-child {
  font-size: 61px;
  font-weight: 700;
  color: var(--white);
}

.overlay-add-contact-left-undertext {
  font-size: 27px;
  font-weight: 400;
  color: var(--white);
}


.overlay-add-contact-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.overlay-add-contact-person {
  display: flex;
  justify-content: center;
  min-width: 275px;
}

.overlay-add-contact-person img {
  background-color: var(--grey-light);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid red;
}

.overlay-add-contact-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


.addContactForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#contact {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
}

#email {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
}

#phone {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
}

.addContactInput {
  display: flex;
  border: 1px solid #D1D1D1;
  width: 422px;
  padding: 12px 21px;
  border-radius: 10px;
}

.addContactInputButton {
  display: flex;
  justify-content: space-evenly;

}