@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter.woff2') format('woff2');
}

/*Scrollbar*/
* {
  scrollbar-width: auto;
  scrollbar-color: #a8a8a7 #ffffff;
}

*::-webkit-scrollbar {
  width: 40px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #a8a8a7;
  border-radius: 55px;
  border: 18px solid #ffffff;
}



/*Scrollbar*/

input {
  all: unset;
}

:root {
  --blue-dark: #2A3647;
  --blue-light: #29ABE2;
  --white: #FFFFFF;
  --black: #000000;
  --red: #FF3D00;
  --grey: #A8A8A8;
  --grey-light: #D1D1D1;
  --grey-bg: #F6F7F8;
  --link-color: #CDCDCD;
  --icon: #A8A8A8;
  --background: #F6F8F8
}

.font-61-black {
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: var(--black);
}

.font-27-black {
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--black);
}

.font-16-bold-black {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: var(--black);
}

.pointer {
  cursor: pointer;
}





* {
  box-sizing: border-box;
  text-decoration: none;
}


html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Inter';
  overflow: hidden;
}

body {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}


main {
  height: 100vh;
  margin: 96px 0 0 232px;
  position: relative;
  z-index: 0;
  display: flex;
}




.border {
  border: 2px solid green;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 20px 40px 20px 348px;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  background-color: var(--white);
  z-index: 1;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  width: 232px;
  padding: 64px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--blue-dark);
  z-index: 2;
}

nav img {
  width: 100.034px;
  height: 121.966px;
  flex-shrink: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.nav-button {
  display: flex;
  width: 232px;
  height: 46px;
  padding: 8px 56px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  color: var(--link-color);
  text-decoration: none;
  border-radius: 8px;
  font-weight: 400;
  line-height: 19.2px;
}

.nav-button img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.nav-imprint {
  display: flex;
  padding: 243px 0px 0px 52px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.nav-imprint a {
  color: var(--icon);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 100%;
  padding: 32px 28px;
  background: var(--white);
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 220px;
}

.contact-button-wrapper {
  display: flex;
  justify-content: center;
  /* cursor: pointer; */
}

.contact-button {
  display: flex;
  width: 352px;
  padding: 12px 0;
  justify-content: center;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid #2A3647;
  background: #2A3647;
  color: var(--white);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.contact-button img {
  width: 24px;
  height: 24px;
}

.contacts {
  /* display: flex; */
  /* flex-direction: column; */
  /* padding: 0 24px; */
  /* overflow: visible; */
  width: 100%;
}


.contactsFirstLetter {
  padding: 17px 36px;
  font-size: 20px;
}

.contactsFirstLetterHeadline {
  margin: 8px 0;
  border: 0;
  border-top: 1px solid #D1D1D1;
}

.contactNameWrapper {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  gap: 35px;
  cursor: pointer;
}

.contactNameWrapper:hover {
  border-radius: 10px;
  background-color: var(--blue-dark);
  color: var(--white);
}

.contactNameWrapperActive {
  border-radius: 10px;
  background-color: var(--blue-dark);
  color: var(--white);
}


.contactName-Initial {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  height: 42px;
  border-radius: 45px;
  color: var(--white);
  font-size: 12px;
}

.contactName {}

.contactEmail {
  color: var(--blue-light);
}


/*overlay add contact*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  /* transform: translateX(200%); */
  visibility: hidden;
  transition: all 225ms ease-in-out;
}

.overlay-show {
  visibility: visible;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateX(200%);
  transition: all 425ms ease-in-out;
}

.popup-slideIn {
  transform: translateX(0);
}

@keyframes slideInInfo {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

.popup-slideOut {
  animation: slideOutInfo 0.7s forwards;
}

@keyframes slideOutInfo {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}


.popupEdit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateX(200%);
  transition: all 425ms ease-in-out;
}

.popupEdit-slideIn {
  transform: translateX(0);
}



/*overlay add contact*/

.contact-right {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-left: 55px;
  background-color: var(--background);
  height: 100%;
  width: 100%;
}

.contact-right-headline {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
  margin-bottom: 32px;
}

/* .contactDetails {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
} */

.contact-right-container {
  display: flex;
  /* flex-direction: column; */
  gap: 54px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

}

.contactInitial {
  display: flex;
}

.contactInitial div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: var(--grey-light);
  border-radius: 50%;
  font-size: 47px;
  color: var(--white);
}


.contact-right-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.contact-right-name p {
  font-size: 47px;
  margin: 0;
}


.contact-right-name-action {
  display: flex;
  gap: 16px;
}

.contact-right-name-action a {

  display: flex;
  align-items: center;
  gap: 8px;
}


.contact-right-details-headline {
  height: 74px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 21px 0;
  font-size: 20px;
}

.contact-right-details-email {
  color: var(--blue-light);
  margin-top: 15px;
  margin-bottom: 22px;
}

.contact-right-details-phone {
  margin-top: 15px;
  margin-bottom: 22px;
}



#overlayAddContact {
  /* position: fixed;
  right: -1212px; */
  display: flex;
  align-items: center;
  width: 1212px;
  height: 592px;
  border-radius: 38px;
  background-color: var(--white);
  /* z-index: 1005; */
  /* transform: translate(-50%, -50%); */
}

.overlay-add-contact-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 66px 48px;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  background-color: var(--blue-dark);
  /* border: 3px solid var(--blue-dark); */
  border-radius: 34px;
}

.overlay-add-contact-left span:first-child {
  font-size: 61px;
  font-weight: 700;
  color: var(--white);
}

.overlay-add-contact-left-undertext {
  font-size: 27px;
  font-weight: 400;
  color: var(--white);
}


.overlay-add-contact-right {
  display: flex;
  align-items: center;
  height: 100%;

}

.overlay-add-contact-person {
  display: flex;
  justify-content: center;
  min-width: 275px;
}

.overlay-add-contact-person div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: var(--grey-light);
  border-radius: 50%;
}


.overlay-add-contact-person img {
  width: 64px;
  height: 64px;
}

.overlay-add-contact-input {
  position: relative;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-right: 48px; */
}

.addContactForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.addContactFormClose {
  position: absolute;
  top: -100px;
  right: 0;
  width: 24px;
  height: 24px;
}

.contact-input {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  border: none;
  outline: none;
}

/* .email-input {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
}

.phone-input {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
} */

.addContactInput {
  display: flex;
  border: 1px solid #D1D1D1;
  width: 422px;
  padding: 12px 21px;
  border-radius: 10px;
}


.addContactInputButton {
  display: flex;
  justify-content: space-evenly;
}

.addContactBtn {
  display: inline-flex;
  gap: 24px;
}

.addContactBtnCancel {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid var(--blue-dark);
  background-color: var(--white);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.addContactBtnCreate {
  cursor: pointer;
  font-size: 21px;
  color: white;
  font-weight: 700;
  border: none;
  background-color: var(--blue-dark);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}


.contactInitialEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 47px;
  color: var(--white);
}


/*SLIDE IN INFO*/
.info {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateX(200%);
  transition: all 425ms ease-in-out;
}

.info-slideIn {
  transform: translateX(0);
}

.infoButton {
  display: flex;
  width: 326px;
  height: 74px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #2A3647;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  color: var(--white);
}

.infoButtonDelete {
  display: flex;
  width: 626px;
  height: 74px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #2A3647;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  color: var(--white);
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 15px 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--blue-dark);
  z-index: 10;
}

footer a {
  text-decoration: none;
  text-align: center;
  color: var(--link-color);
}

footer a img {
  height: 24px;
  width: 24px;
}


.addContactMobile {
  position: fixed;
  right: 24px;
  bottom: 112px;
  padding: 12px;
  border-radius: 46px;
  background-color: var(--blue-dark);
  border: 1px solid var(--blue-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;

}

.addContactMobile:hover {
  background-color: var(--blue-light);
  border: 1px solid var(--blue-light);
}


.d-none {
  display: none;
}

@media (min-width:1300px) {
  footer {
    display: none;
  }
}

@media (min-width:990px) {
  .addContactMobile {
    display: none;
  }
}

@media (max-width:1300px) {

  .sidebar {
    display: none;
  }

  main {
    margin: 96px 0 0 0;
  }

  #overlayAddContact {
    width: 950px;
    gap: 30px;
  }

  .overlay-add-contact-right {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .overlay-add-contact-input {
    padding-right: 0;
  }

  .info {
    transform: translateY(200%);
  }


  .info-slideIn {
    transform: translateY(0);
  }


}

@media (max-width:990px) {

  /* addcontact */
  #overlayAddContact {
    flex-direction: column;
    max-width: 396px;
    height: 760px;
    gap: 0;
  }

  .contact-button-wrapper {
    display: none;
  }

  .contact-left {
    width: 100%;
  }

  .contact-right {
    display: none;
  }

  .overlay-add-contact-left {
    height: 70%;
    width: 100%;
  }

  .overlay-add-contact-left span:first-child {
    font-size: 47px;
    font-weight: 700;
  }

  .overlay-add-contact-left-undertext {
    font-size: 20px;
  }


  .overlay-add-contact-right {
    flex-direction: column;
    gap: 0;
    justify-content: flex-start;

  }

  .overlay-add-contact-person {
    top: -60px;
    position: relative;

  }

  .overlay-add-contact-input {
    padding-right: 0;
    position: relative;
    top: -30px;

  }

  .addContactForm {
    width: 364px;
    height: 153px;
    gap: 15px;
  }

  .addContactInput {
    width: 100%;
  }

  .addContactBtn {
    justify-content: center;
  }

  .addContactBtnCancel {
    display: none;
  }

  .addContactBtnCreate {
    margin-top: 16px;
  }
}


@media (max-width:420px) {}