main {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 100px;
    overflow: scroll;
    font: inherit;
}

.title {
    align-self: flex-start;
    font-size: 61px;
    font-weight: bold;
}

.task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

.task-form-container {
    display: flex;
    gap: 35px;

}

.info-text {
    padding-top: 220px;
}

.prio-selection-container {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.addTaskSeperationLine {
    margin-top: -140px;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 20px;
}



#titleInput {
    width: 420px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px;
    border-color: #D1D1D1;
    padding: 10px;
    margin-top: 8px;
}

#errorTitle {
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    color: red;
    font-size: 15px;
}

#descriptionInput {
    width: 440px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    padding: 10px;
    margin-top: 8px;
    font-size: 18px;
    font: inherit;
}

#descriptionInput::placeholder {
    font-size: 20px;
}



.assignment-dropdown {
    width: 440px;
    position: relative;
    margin-top: 8px;
}

#assignmentSelect {
    display: flex;
    width: 440px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    cursor: pointer;
}

#dropdownIcon:hover {
    background-color: #D1D1D1;
    border-radius: 20px;
}

#assignmentDropdownList {
    display: none;
    position: absolute;
    z-index: 500;
    width: 100%;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    height: 150px;
    gap: 3px;
    margin-top: 5px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    overflow-y: scroll;
}

.assignment-dropdown-list-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.assignment-dropdown-list-entry img {
    margin-right: 20px;
}

.assignment-dropdown-list-entry:hover {
    background-color: #efefef;
    border-radius: 10px;
    cursor: pointer;
}

.selected {
    border-radius: 10px;
    color: white;
}

.selected:hover {
    background-color: #091931 !important;
}


.contact-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-left: 15px;
}

.contact-option div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29ABE2;
    border-radius: 50%;
    padding: 10px 5px;
    height: 40px;
    width: 40px;
    font-size: 16px;
    color: white;
    border: solid 2px white;
}

.cardInitialAssignedTo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--white);
    font-size: 18px;
    border: 2px solid var(--white);

}

#renderedAssignedToContacts {
    position: absolute;
    display: flex;
    gap: 5px;
    padding-top: 10px;
    padding-left: 10px;
}














.right-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 20px;
    padding-top: 100px;
}

#dueDateInput {
    width: 420px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    padding: 10px;
    margin-top: 8px;
}

#urgentButton {
    height: 56px;
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 16px 10px 16px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    gap: 8px;
    box-shadow: 0px 0px 4px 0px #0000001A;

}

#urgentButton:hover {
    cursor: pointer;
}

#mediumButton {
    height: 56px;
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 16px 10px 16px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    gap: 8px;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

#mediumButton {
    cursor: pointer;
}

#lowButton {
    height: 56px;
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 16px 10px 16px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    gap: 8px;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

#lowButton {
    cursor: pointer;
}


.urgent { 
    background-color: #FF3D00 !important; 
    color: white;
}

.medium { 
    background-color:  #FFA800 !important; 
    color: white;
}

.low { 
    background-color:  #7AE229 !important; 
    color: white;
}



.category-dropdown {
    width: 440px;
    position: relative;
    margin-top: 8px;
}

#categorySelect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px;
    border-color: #D1D1D1;
    cursor: pointer;
}


#categoryDropdownList {
    display: none;
    position: absolute;
    z-index: 500;
    flex-direction: column;
    list-style: none;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    height: 100px;
    gap: 8px;
    margin-top: 5px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    overflow-y: scroll;
    width: 100%;
}

.category-dropdown-list-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.category-dropdown-list-entry img {
    margin-right: 20px;
}

#dropdownIconCategory:hover {
    background-color: #D1D1D1;
    border-radius: 20px;
}

.category-dropdown-list-entry:hover {
    background-color: #efefef;
    border-radius: 10px;
    cursor: pointer;
}


.category-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-left: 15px;
}


#requiredCategoryMessage {
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    color: red;
    font-size: 15px;
}













#subtasksInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: solid 1px #D1D1D1;
    border-radius: 10px;
    padding: 10px;
    margin-top: 8px;
}

#subtasksInput img:hover {
    cursor: pointer;
    background-color: #D1D1D1;
    border-radius: 10px;
}

#subTaskInput {
    background-color: white;
    width: 100%;
}

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


#subtasksList {
    display: flex;
    position: absolute;
    width: 440px;
    height: 110px;
    flex-direction: column;
    overflow-y: scroll;
    gap: 5px;
    margin-top: 5px;
}

.subtasks-list-entry {
    width: 440px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}

.subtasks-list-entry li {
    display: list-item;
    height: 50px;
    padding-left: 30px;
    padding-top: 7px;
}

.subtasks-list-entry li input {
    padding: 5px;
}

#subtaskIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    gap: 5px;
}

#subtaskEditInput {
    border-radius: 10px;
    padding-left: 10px;
    height: 25px;
}



.addTasksButtons {
    display: flex;
    gap: 16px;
    margin-top: 100px;
}


#clearButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 110px;
    border-radius: 10px;
    border: solid 1px #2A3647;
    background-color: #F6F7F8;
    padding: 16px;
    font-size: 20px;
    font-weight: lighter;
    color: #2A3647;
}

#clearButton:hover {
    cursor: pointer;
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

#createTaskButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 183px;
    border-radius: 10px;
    border: none;
    background-color: #2A3647;
    padding: 16px;
    font-size: 20px;
    font-weight: lighter;
    color: white;
}

#createTaskButton:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 1400px) {
    .task-form {
        padding-left: 75px;
    }


}

@media (max-width: 1300px) {
    main {
        margin: 0;
    }

    .task-form {
        padding-left: 0px;
        margin-left: 0px;
    }

    .title {
        padding-left: 0px;
    }
}

@media (max-width: 1100px) {
    .task-form-container {
        flex-direction: column;
    }

    .addTaskSeperationLine {
        display: none;
    }

    .info-text {
        display: none;
    }

    .right-column {
        padding-top: 0px;
    }
}










