main {
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: relative;
    /* min-height: 100%; */

    /* overflow: scroll; */
    /* background-color: var(--background); */
}

.d-none {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    visibility: hidden;
    transition: all 225ms ease-in-out;
}

.overlay-show {
    visibility: visible;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translateX(200%);
    /* transform: translateX(0); */
    transition: all 425ms ease-in-out;
}

.popup-slideIn {
    transform: translateX(0);
}

.overlayTask {
    position: relative;
    display: flex;
    width: 525px;
    max-height: 931px;
    height: 100%;
    border-radius: 38px;
    padding: 48px 40px;
    margin: 16px;
    background-color: var(--white);
}

.overlayTaskWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.overlayTaskHeader {
    display: flex;
    justify-content: space-between;
}

.overlayTaskClose {
    position: absolute;
    top: 48px;
    right: 36px;
    z-index: 1;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.overlayTaskHeadline {
    max-height: 190px;
    padding-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.overlayTaskDescription {
    max-height: 80px;
    padding-bottom: 6px;
    /* etwa zwei Zeilen Text */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Zeilenanzahl */
    -webkit-box-orient: vertical;
}


.overlayTaskDate {
    display: flex;
    gap: 16px;
}

.overlayTaskPrio {
    display: flex;
    gap: 36px;
}

.overlayTaskPrio div {
    display: flex;
    align-items: center;
}

.overlayTaskAssignedTo {
    display: flex;
    /* align-items: center; */
    gap: 16px;
    padding-left: 16px;
    margin-bottom: 8px
}

.overlayTaskAssignedToInitial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 42px;
    min-height: 42px;
    border-radius: 50%;
    color: var(--white);
    font-size: 12px;
    border: 2px solid var(--white);
}

.overlayTaskAssignedToName {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    min-width: 42px;
    min-height: 42px;
}

.overlayTaskSubtasks {
    display: flex;
}

.overlayTaskFooter {
    position: absolute;
    left: 0;
    right: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.overlayTaskFooterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.overlayTaskFooterWrapper a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.overlayTaskLine {
    height: 20px;
    width: 3px;
}


.board-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 16px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    gap: 40px;
}

.board-headline-search-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.loginInputs {
    display: flex;
    border: 1px solid #D1D1D1;
    padding: 12px 21px;
    border-radius: 10px;
    background-color: var(--white);
}

.loginInputs input {
    flex: 1;
    outline: none;
    border-right: 1px solid var(--grey-light);
}

.loginInputs img {
    margin-left: 16px;
}

.addTask-button {
    display: flex;
    width: 160px;
    padding: 8px 16px 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--blue-dark);
    background: var(--blue-dark);
    cursor: pointer;
}

.addTask-button:hover {
    background: var(--blue-light);
    border: 1px solid var(--blue-light);
}

.addTask-button img {
    width: 32px;
    height: 32px;
}

.addTask-button-mobil {
    display: none;
    width: 40px;
    height: 40px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--blue-dark);
    background: var(--blue-dark);
    cursor: pointer;
}


.task-main {
    display: flex;
    /* justify-content: space-between; */
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    flex-shrink: 0;
    padding: 16px 16px 0 16px;
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.task-wrapper {
    min-width: 252px;
    /* max-width: 252px; */
    /* margin-bottom: 60px; */
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    /* align-self: stretch; */
    /* height: 100vh; */
}

.noTask {
    color: var(--blue-dark);
    text-align: center;
    background-color: var(--grey-light);
    border: 1px dashed var(--blue-dark);
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
}


.task-main-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    height: 32px;
}

.task-main-headline img {
    display: flex;
    justify-content: space-between;
}

.drag-area {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    padding: 16px;
}

.drag-area-highlight {
    border: 1px dashed var(--grey);
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 100vh;
    z-index: 20;


}

.task {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
    background-color: white;
    border: 1px solid white;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    padding: 16px;
    min-width: 252px;
    max-width: 252px;
}

.rotate-task {
    transform: rotate(5deg);
    cursor: grabbing;
}


.task-category-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* .task-category-wrapper img {
    width: 16px;
    height: 16px;
    margin: 4px;
    cursor: pointer;
} */

.moveToIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.task-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    background-color: var(--grey);
    width: 145px;
    height: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 0;
    right: 0;
    border-radius: 12px 0px 12px 12px;
    padding-left: 8px;
}

.task-dropdown span {
    display: flex;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
}

.task-dropdown span img {
    rotate: 180deg;
    width: 20px;
    cursor: pointer;
}


.task-category {
    padding: 4px 24px 4px 24px;
    border-radius: 8px;
    background-color: blue;
    inline-size: fit-content;
}

.task-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.task-description-text {
    height: 33px;
    /* etwa zwei Zeilen Text */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Zeilenanzahl */
    -webkit-box-orient: vertical;
}

.progressSubtask {
    display: flex;
    justify-content: space-between;
}

.progressSubtask progress {
    width: 50%;
}

.progressSubtask label {
    font-size: 12px;
}

.task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardInitial {
    display: flex;
}

.cardInitialAssignedTo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    color: var(--white);
    font-size: 12px;
    border: 2px solid var(--white);
    margin-left: -8px;

}

.todoContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.overlayTaskAddTask {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1116px;
    height: 870px;
    border-radius: 38px;
    padding: 48px 40px;
    background-color: var(--white);
}


#closeButtonAddTaskPopUp {
    height: 30px;
    width: 50px;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 30px;
}







@media (max-width:1300px) {
    .board-headline {
        flex-direction: column;
    }
}

@media (max-width:1300px) {
    main {
        margin: 0 0 0 0;
        flex-grow: 1;
        overflow-y: auto;
        padding-bottom: 80px;
    }
}

@media (max-width:990px) {
    .addTask-button-mobil {
        display: flex;
    }

    .board-headline-mobil {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .addTask-button {
        display: none;
    }

    .board-headline-search-container {
        width: 100%;
    }

    .loginInputs {
        width: 100%;
    }
}


@media (max-width:640px) {
    .board-headline {
        padding: 32px 16px;
    }

    .addTask-button {
        display: none;
    }


}




@media (max-width:575px) {
    .drag-area {
        flex-direction: row;
        overflow-x: auto;
    }

    .drag-area::-webkit-scrollbar {
        display: none;
    }

    .overlayTask {
        padding: 32px 24px;
        max-height: 931px;
        height: 90%;
    }

    .overlayTaskWrapper {
        gap: 16px;
    }

    .overlayTaskHeadline {
        font-size: 36px;
    }

}

@media (max-width:420px) {

    .loginInputs input {
        border-right: 0px solid var(--grey-light);
    }

    .loginInputs img {
        display: none;
    }


}