main {
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: relative;
    /* min-height: 100%; */

    overflow: scroll;
    background-color: var(--background);
}

.d-none {
    display: none;
}

.board-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 16px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    gap: 40px;
}

.board-headline-search-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.loginInputs {
    display: flex;
    border: 1px solid #D1D1D1;
    padding: 12px 21px;
    border-radius: 10px;
    background-color: var(--white);
}

.loginInputs input {
    flex: 1;
    border-right: 1px solid var(--grey-light);
}

.loginInputs img {
    margin-left: 16px;
}

.addTask-button {
    display: flex;
    width: 160px;
    padding: 8px 16px 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--blue-dark);
    background: var(--blue-dark);
    cursor: pointer;
}

.addTask-button:hover {
    background: var(--blue-light);
    border: 1px solid var(--blue-light);
}

.addTask-button img {
    width: 32px;
    height: 32px;
}

.addTask-button-mobil {
    display: none;
    width: 40px;
    height: 40px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--blue-dark);
    background: var(--blue-dark);
    cursor: pointer;
}


.task-main {
    display: flex;
    /* justify-content: space-between; */
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    flex-shrink: 0;
    padding: 16px 16px 80px 16px;
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.task-wrapper {
    min-width: 252px;
    /* max-width: 252px; */
    /* margin-bottom: 60px; */
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-self: stretch;
}


.task-main-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    height: 32px;
}

.task-main-headline img {
    display: flex;
    justify-content: space-between;
}

.drag-area {
    height: 100%;
    background-color: transparent;
    /* border: 1px dashed black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.task {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
    background-color: white;
    border: 1px solid white;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    padding: 16px;
    min-width: 252px;
    max-width: 252px;
}

.rotate-task {
    transform: rotate(5deg);
    cursor: grabbing;
}


.task-category-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.task-category-wrapper img {
    width: 16px;
    height: 16px;
    margin: 4px;
    cursor: pointer;
}

.task-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    background-color: var(--grey);
    width: 145px;
    height: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 0;
    right: 0;
    border-radius: 12px 0px 12px 12px;
    padding-left: 8px;
}

.task-dropdown span {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.task-dropdown span img {
    rotate: 180deg;
}


.task-category {
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    background-color: blue;
    inline-size: fit-content;
}

.task-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-title {
    /* margin-bottom: 8px; */
}


.task-description-text {
    height: 33px;
    /* etwa zwei Zeilen Text */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Zeilenanzahl */
    -webkit-box-orient: vertical;
}

.progressSubtask {
    display: flex;
    justify-content: space-between;
}

.progressSubtask progress {
    width: 50%;
}

.progressSubtask label {
    font-size: 12px;
}

.task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardInitial {
    display: flex;
}

.cardInitialAssignedTo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    color: var(--white);
    font-size: 12px;
    border: 2px solid var(--white);
    margin-left: -8px;

}

.todoContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



@media (max-width:1300px) {
    .board-headline {
        flex-direction: column;
    }
}

@media (max-width:1300px) {
    main {
        margin: 0 0 200px 0;
    }
}

@media (max-width:990px) {
    .addTask-button-mobil {
        display: flex;
    }

    .board-headline-mobil {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .addTask-button {
        display: none;
    }

    .board-headline-search-container {
        width: 100%;
    }

    .loginInputs {
        width: 100%;
    }
}


@media (max-width:640px) {
    .board-headline {
        padding: 32px 16px;
    }

    .addTask-button {
        display: none;
    }


}

@media (max-width:420px) {

    .loginInputs input {
        border-right: 0px solid var(--grey-light);
    }

    .loginInputs img {
        display: none;
    }


}