.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: hidden;
  transition: all 225ms ease-in-out;
}

.overlay-show {
  visibility: visible;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateX(200%);
  transition: all 425ms ease-in-out;
}

.popup-slideIn {
  transform: translateX(0);
}