nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  width: 232px;
  padding: 64px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-dark);
  z-index: 2;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  margin-top: 16px;

}

.nav-button {
  display: flex;
  padding: 8px 56px;
  align-items: center;
  gap: 8px;
  color: var(--link-color);
  width: 100%;
}

.nav-button img {
  width: 30px;
  height: 30px;
}

.nav-button:hover svg path {
  fill: white;
}

.nav-button:hover {
  background-color: var(--hover-link);
  color: var(--white);
}

.nav-button-legal {
  display: flex;
  padding: 8px 56px;
  justify-content: center;
  gap: 8px;
  color: var(--link-color);
  width: 100%;
}

.nav-button-legal:hover {
  background-color: var(--hover-link);
}


.active {
  background-color: var(--active-link);
  color: var(--white);
  fill: white;
}

.active svg {
  fill: var(--white);
}

a.active>img {
  filter: brightness(0) saturate(100%) invert(100%);
}

.nav-imprint {
  display: flex;
  padding: 243px 0px 0px 0;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  align-self: center;
  width: 100%;
}

.nav-imprint a {
  color: var(--icon);
  padding: 8px;
}

@media (max-width:1300px) {

  .sidebar {
    display: none;
  }
}